* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#titleQuestion {
  color: red;
}

button {
  margin-top: 10px;
}

/* #startForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
